body {
    text-align: center;
    background: linear-gradient(#ffd968 0%, #7986CB 100%);
    margin: 0;
    padding-top: 800px
}

p {
    font-family: 'Luckiest Guy', cursive;
    
    max-width:
        450px;
    margin: 25px auto;
    font-size: 17px;

    line-height: 1.3;
}




h1 {
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
}


.Ul {
    position: fixed;
    background: black;
    width: 100%;
    margin-top: 0px;
    top:0px;
    z-index: 10;
    
}

a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px gainboro;
    
    

}

.Li {
    display: inline;
    color: #FFF;
   
    padding-left: 33px;
    padding-right: 25px;
    
    font-family: fantasy;
    font-size: 20px;
    float: left;
}

.Li:hover {
   font-size: 25px;
    text-decoration: underline;


}

html {
    scroll-behavior: smooth;
}

#src {
    width:500px;
    height:500px;
    border-radius: 50%;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}






#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#ffd968 0%, #0000FF 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.line {
    height: 6px;

    background-color: black;
    width: 70px;
    margin: 8px auto;
}

 .bio {padding: 50px;
    text-align: center;
     font-size: 42px;}


.fct:hover {
    background-color: #FFF;


}
#dad:hover {
    transform: scale(0.9);
}


